<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array/>
	<key>AutoHideTmuxClientSession</key>
	<true/>
	<key>Command</key>
	<string></string>
	<key>Custom Color Presets</key>
	<dict>
		<key>material-design-colors</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40253299474716187</real>
				<key>Green Component</key>
				<real>0.35616019368171692</real>
				<key>Red Component</key>
				<real>0.26286587119102478</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25575384497642517</real>
				<key>Green Component</key>
				<real>0.22098405659198761</real>
				<key>Red Component</key>
				<real>0.9871404767036438</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.74659085273742676</real>
				<key>Green Component</key>
				<real>0.96712285280227661</real>
				<key>Red Component</key>
				<real>0.67800694704055786</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42511638998985291</real>
				<key>Green Component</key>
				<real>0.88262283802032471</real>
				<key>Red Component</key>
				<real>0.99765938520431519</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99898606538772583</real>
				<key>Green Component</key>
				<real>0.81066548824310303</real>
				<key>Red Component</key>
				<real>0.43880558013916016</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.60766077041625977</real>
				<key>Green Component</key>
				<real>0.40164706110954285</real>
				<key>Red Component</key>
				<real>0.9887651801109314</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90182536840438843</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.60292786359786987</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.62042194604873657</real>
				<key>Green Component</key>
				<real>0.94388872385025024</real>
				<key>Red Component</key>
				<real>0.36202818155288696</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19727933406829834</real>
				<key>Green Component</key>
				<real>0.81672251224517822</real>
				<key>Red Component</key>
				<real>0.99627053737640381</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99871528148651123</real>
				<key>Green Component</key>
				<real>0.7149810791015625</real>
				<key>Red Component</key>
				<real>0.215079665184021</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43182668089866638</real>
				<key>Green Component</key>
				<real>0.13310989737510681</real>
				<key>Red Component</key>
				<real>0.986469566822052</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82062870264053345</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.34860008955001831</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72321081161499023</real>
				<key>Green Component</key>
				<real>0.69167852401733398</real>
				<key>Red Component</key>
				<real>0.63061976432800293</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42818409204483032</real>
				<key>Green Component</key>
				<real>0.45310419797897339</real>
				<key>Red Component</key>
				<real>0.98958194255828857</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16608485579490662</real>
				<key>Green Component</key>
				<real>0.14745020866394043</real>
				<key>Red Component</key>
				<real>0.11278382688760757</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93115901947021484</real>
				<key>Green Component</key>
				<real>0.92142927646636963</real>
				<key>Red Component</key>
				<real>0.90730977058410645</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93115901947021484</real>
				<key>Green Component</key>
				<real>0.92142927646636963</real>
				<key>Red Component</key>
				<real>0.90730977058410645</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47096589207649231</real>
				<key>Green Component</key>
				<real>0.41462835669517517</real>
				<key>Red Component</key>
				<real>0.30659490823745728</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>A39A1F26-E866-41E7-B65F-80598AB9E763</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>EnableAPIServer</key>
	<true/>
	<key>EnableDivisionView</key>
	<false/>
	<key>EnableProxyIcon</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x5b-0x40000-0x21</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x5d-0x40000-0x1e</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x68-0x40000-0x4</key>
		<dict>
			<key>Action</key>
			<integer>60</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>vim_aware_select_pane(direction: "h")</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x6a-0x40000-0x26</key>
		<dict>
			<key>Action</key>
			<integer>60</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>vim_aware_select_pane(direction: "j")</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x6b-0x40000-0x28</key>
		<dict>
			<key>Action</key>
			<integer>60</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>vim_aware_select_pane(direction: "k")</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x6c-0x40000-0x25</key>
		<dict>
			<key>Action</key>
			<integer>60</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>vim_aware_select_pane(direction: "l")</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x74-0x40000-0x11</key>
		<dict>
			<key>Action</key>
			<integer>27</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>A39A1F26-E866-41E7-B65F-80598AB9E763</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x76-0x40000-0x9</key>
		<dict>
			<key>Action</key>
			<integer>29</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>A39A1F26-E866-41E7-B65F-80598AB9E763</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x78-0x40000-0x7</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>Copy Mode
Copy Mode</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xd-0x40000-0x24</key>
		<dict>
			<key>Action</key>
			<integer>25</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>Maximize Active Pane
Maximize Active Pane</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HTMLTabTitles</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<true/>
	<key>HideTabNumber</key>
	<true/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40784313725490196</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.37647058823529411</real>
				<key>Red Component</key>
				<real>0.86274509803921573</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.55294117647058827</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.76470588235294112</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41960784313725491</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.79607843137254897</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.66666666666666663</real>
				<key>Red Component</key>
				<real>0.50980392156862742</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.91764705882352937</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.5725490196078431</real>
				<key>Red Component</key>
				<real>0.7803921568627451</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.8666666666666667</real>
				<key>Red Component</key>
				<real>0.53725490196078429</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.46274509803921571</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.81176470588235294</real>
				<key>Red Component</key>
				<real>0.6705882352941176</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.92156862745098034</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59607843137254901</real>
				<key>Red Component</key>
				<real>0.43137254901960786</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.83921568627450982</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.50196078431372548</real>
				<key>Red Component</key>
				<real>0.70588235294117652</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.90588235294117647</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77647058823529413</real>
				<key>Red Component</key>
				<real>0.44313725490196076</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.48627450980392156</real>
				<key>Red Component</key>
				<real>0.44313725490196076</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.47058823529411764</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725490196076</real>
				<key>Red Component</key>
				<real>0.94117647058823528</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12941176470588237</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.12941176470588237</real>
				<key>Red Component</key>
				<real>0.12941176470588237</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blend</key>
			<real>0.47816462862318843</real>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>25.461951462765953</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.91648769378662109</real>
				<key>Green Component</key>
				<real>0.91671288013458252</real>
				<key>Red Component</key>
				<real>0.91654461622238159</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Custom Tab Title</key>
			<string></string>
			<key>Custom Window Title</key>
			<string>Default (zsh)</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.74509803921568629</real>
				<key>Red Component</key>
				<real>0.69019607843137254</real>
			</dict>
			<key>Guid</key>
			<string>A39A1F26-E866-41E7-B65F-80598AB9E763</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Haskplex-Nerd-Regular 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prevent Opening in a Tab</key>
			<false/>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.74509803921568629</real>
				<key>Red Component</key>
				<real>0.69019607843137254</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.25098039215686274</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25098039215686274</real>
				<key>Red Component</key>
				<real>0.25098039215686274</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.1970246010638298</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Custom Tab Title</key>
			<true/>
			<key>Use Custom Window Title</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/nikolas.setiawan</string>
		</dict>
	</array>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenTmuxWindowsIn</key>
	<integer>2</integer>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PerPaneBackgroundImage</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreserveWindowSizeWhenTabBarVisibilityChanges</key>
	<false/>
	<key>Print In Black And White</key>
	<true/>
	<key>QuitWhenAllWindowsClosed</key>
	<true/>
	<key>SavePasteHistory</key>
	<false/>
	<key>SeparateStatusBarsPerPane</key>
	<true/>
	<key>ShowNewOutputIndicator</key>
	<true/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.50192771541262127</real>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>StretchTabsToFillBar</key>
	<true/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>6</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>TabsHaveCloseButton</key>
	<true/>
	<key>TmuxUsesDedicatedProfile</key>
	<false/>
	<key>UseBorder</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>7</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
	<key>kCPKUseSystemColorPicker</key>
	<false/>
</dict>
</plist>
